# Archivos generados por el sistema de compilación
.gradle
/build/

# Archivos generados por el IDE
*.iml
.idea/

# Archivos locales de configuración
local.properties

# Archivos de empaquetado
*.apk
*.aab

# Archivos de Keystore
*.jks
*.keystore

# Archivos de ProGuard
/proguard/

# Reportes y logs
/captures/
.cxx/
*.log

# Otros
.DS_Store
